# Ambiente virtual
.venv/
venv/

# Python
__pycache__/
*.pyc

# Banco local
db.sqlite3

# Variáveis de ambiente
.env

# Editor
.vscode/
.idea/

# Arquivos de mídia
media/

# Arquivos estáticos gerados
staticfiles/

# Logs
*.log